.top span {
  margin-right: 20px;
}

div {
  margin-left: 10px;
  margin-bottom: 10px !important;
  cursor: pointer;
}

.selectedTeams {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

span:hover {
  text-decoration: underline;
}

.time {
  padding-right: 20px;
}

img {
  width: 20px;
  height: 20px;
}

svg {
  cursor: pointer;
}

.straigthLine {
  border-bottom: 1px solid gray;
}

.logo {
  width: 10%;
}

.timeContainer {
  width: 10%;
}

.player_name {
  width: 40%;
}

.event_logo {
  width: 10%;
}
