<main>
  <div class="top">
    <span (click)="goBack()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-arrow-left"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"
        /></svg
    ></span>
    <span><img [src]="data.teams.home.logo" alt="homeLogo" /></span>
    <span>{{ data.teams.home.name }}</span>
    <span>{{ data.goals.home }}</span>
    <span>-</span>
    <span>{{ data.goals.away }}</span>
    <span>{{ data.teams.away.name }}</span>
    <span><img [src]="data.teams.away.logo" alt="awayLogo" /></span>
  </div>
  <div class="straigthLine"></div>

  <div *ngFor="let event of events">
    <div *ngIf="event.detail === 'Normal Goal'" class="selectedTeams">
      <div class="logo">
        <span><img [src]="event.team.logo" alt="logo" /></span>
      </div>
      <div class="timeContainer">
        <span class="time">{{ event.time.elapsed }}</span>
      </div>
      <div class="player_name">
        <span>{{ event.player.name }}</span>
      </div>
      <div class="eventLogo">
        <span><img src="assets/ball.jpg" alt="logo" /></span>
      </div>
    </div>
    <div *ngIf="event.detail === 'Yellow Card'" class="selectedTeams">
      <div class="logo">
        <span><img [src]="event.team.logo" alt="logo" /></span>
      </div>
      <div class="timeContainer">
        <span class="time">{{ event.time.elapsed }}</span>
      </div>
      <div class="player_name">
        <span>{{ event.player.name }}</span>
      </div>
      <div class="eventLogo">
        <span><img src="assets/Yellow_card.svg.png" alt="logo" /></span>
      </div>
    </div>

    <div *ngIf="event.detail === 'Red Card'" class="selectedTeams">
      <div class="logo">
        <span><img [src]="event.team.logo" alt="logo" /></span>
      </div>
      <div  class="timeContainer">
        <span class="time">{{ event.time.elapsed }}</span>
      </div>

      <div class="player_name">
        <span>{{ event.player.name }}</span>
      </div>
      <div class="eventLogo">
        <span><img src="assets/Red_card.svg.png" alt="logo" /></span>
      </div>
    </div>
  </div>
</main>
