span{
    margin-right: 20px;
}

div{
    margin-left: 10px;
    margin-bottom: 20px !important;
    cursor:pointer
}

span:hover{
    text-decoration: underline;
}

img{
    width:20px;
    height:20px;

}

.selectedTeams{
  display:flex;
  justify-content: space-between;
  gap:10px;
}


.logo{
    width: 10%;
}

.name{
    width: 20%;
}

.dot{
    width: 10%;
}

.goals{
    width: 10%
}