  <div>
      <div class="holder">
        <div>
          <span>Club Name:</span><br />
          <span *ngIf="teamInfo">{{teamInfo.team.name}}</span>
        </div>
        <div>
          <span>Head Coach:</span><br />
          <span>{{coach}}</span>
        </div>
      </div>

      <div class="holder divider">
        <div>
          <span>Club Venue:</span><br />
          <span *ngIf="teamInfo">{{teamInfo.venue.name}}</span>
        </div>

        <div>
          <img *ngIf="teamInfo" [src]="teamInfo.venue.image" alt="stadium">
        </div>
      </div>

      <div class="holder divider left">
        <div>
          <span>Current Players:</span><br />
          <span class="playerSpan" *ngFor="let player of teamPlayers | slice:0:10">{{player.name}}</span><br>
        </div>
        <div>
          <span></span><br />

          <span class="playerSpan" *ngFor="let player of teamPlayers | slice:10:20">
            {{player.name}}
          </span>
 
        </div>
      </div>
    </div>