span{
    margin-right: 20px;
}

div{
    margin-left: 10px;
    margin-bottom: 20px !important;
}

img{
    width:20px;
    height:20px;

}

.selectedTeams{
  display:flex;
  justify-content: space-between;
  gap:10px;
}

.logo{
    width: 20%;

}

.name{
    width:20%
}

.vrs{
    width:10%;
}