<main>
  <div *ngFor="let game of nextfive" class="selectedTeams">
    <div class="logo">
      <span><img [src]="game.teams.home.logo" alt="homeLogo" /></span>
    </div>
    <div class="name">
      <span>{{ game.teams.home.name }}</span>
    </div>
    <div class="vrs">
      <span>vrs</span>
    </div>
    <div class="name">
      <span>{{ game.teams.away.name }}</span>
    </div>
    <div class="logo">
      <span><img [src]="game.teams.away.logo" alt="awayLogo" /></span>
    </div>
  </div>
</main>
